<h2>コンタクト</h2>
<div class="text-left">
    <i class="fas fa-pen"></i>　名前
    <input class="text text-outline-primary" type="text"/>
    <br>
    <i class="fas fa-pen"></i>　メールアドレス
    <input class="text text-outline-primary" type="text"/>
    <br>
    <i class="fas fa-pen"></i>　件名
    <input class="text text-outline-primary" type="text"/>
    <br>
    <i class="fas fa-pen"></i>　本文
    <input class="text text-outline-primary" type="text"/>
    <br>
    <button class="btn btn-outline-primary" type="button" routerLink="/article/create">
        <i class="fas fa-pen"></i> <span>　送信する</span>
    </button>
</div>