<table class="table table-hover">
    <thead>
        <tr><th rowspan="2">Introduction</th></tr>
    </thead>
    <tbody>
        <br>
        <tr>
            <td scope="row">Name</td>
            <td>{{parsonal.parsonalName}}</td>
        </tr>
        <tr>
            <td scope="row">Birthday</td>
            <td>{{parsonal.birthdayConvert}}</td>
        </tr>
        <tr>
            <td scope="row">Native Place</td>
            <td>{{parsonal.nativePlace}}</td>
        </tr>
        <tr>
            <td scope="row">Current Location</td>
            <td>{{parsonal.currentLocation}}</td>
        </tr>
        <tr>
            <td scope="row">Hobbies</td>
            <td>{{parsonal.hobby}}</td>
        </tr>
    </tbody>
</table>
<br>
<table class="table table-hover">
    <thead>
        <tr><th rowspan="2">Parsonal History</th></tr>
    </thead>
    <tbody>
        <br>
        <tr *ngFor="let careerHistory of careerHistoryList">
            <td scope="row">{{careerHistory.career}}</td>
            <td>From {{careerHistory.careerFromDateConvert}} To {{careerHistory.careerToDateConvert}}</td>
        </tr>
    </tbody>
</table>