<div class="card bg-dark text-white">
    <svg
        class="bd-placeholder-img bd-placeholder-img-lg card-img"
        width="100%"
        height="270"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        role="img"
        aria-label="Placeholder: Card image">
        <title>Placeholder</title>
        <rect fill="#868e96" width="100%" height="100%"/>
    </svg>
    <div class="card-img-overlay">
      <h4 class="card-title">Thank you for visiting my web page.</h4>
      <p class="card-text">I'm Satoshi, Tomiyama.</p>
      <p class="card-text">Please get to know me and take an interest in me.</p>
    </div>
  </div>