<div class="card bg-dark text-white">
    <!-- <svg
        class="bd-placeholder-img bd-placeholder-img-lg card-img"
        width="100%"
        height="270"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        role="img"
        aria-label="Placeholder: Card image">
        <rect fill="#868e96" width="100%" height="100%"/>
    </svg> -->
    <img 
      alt=""
      class="img-responsive"
      src="./assets/images/home.jpeg"
      width="100%"
      height="470"/>
    <div class="card-img-overlay">
      <h1 class="card-title">{{parsonal.wellcomeMessageMain}}</h1>
      <br>
      <p class="card-text">I'm Satoshi, Tomiyama.</p>
      <p class="card-text">{{parsonal.wellcomeMessageSub}}</p>
    </div>
  </div>