<div *ngIf="skillsList?.length; else noSkillsList">
    <table class="table">
        <thead>
            <tr><th>スキルタイプ</th><th>スキル名</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skillsList">
                <td>{{skill.skillType}}</td>
                <td>{{skill.skillName}}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table class="table">
        <thead>
            <tr><th>資格名</th><th>取得日</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let qualifications of qualificationsList">
                <td>{{qualifications.qualificationName}}</td>
                <td>{{qualifications.qualificationGetDate}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noSkillsList>
    経験スキルはありません。
</ng-template>